<h1><%= @kiosk["name"] %></h1>

 <b>Name:</b> <%= @kiosk["name"] %>
  <b>Address:</b> <%= @kiosk["addressStreet"] %>, Philadelphia, PA  <%= @kiosk["addressZipCode"] %>
  <b>Kiosk ID:</b> <%= @kiosk["kioskId"] %>
  <b>Total Docks:</b> <%= @kiosk["totalDocks"] %>
  <b>Bikes Currently Available:</b> <%= @kiosk["bikesAvailable"] %>
  <b>Docks Currently Available:</b> <%= @kiosk["docksAvailable"] %>

<p>
