<div class="largeContainer">

    <div class="mapBG">
      <div class="textContainerData">
        <span class="bigParallaxText">Compare kiosks.</span>
      </div>
    </div>
  <div class="contentContainer">

    <div class="bigContent left">
      <div class="lineChart">
        <h2>Types of Trips To and From
        <br>
        Primary Station
        <br>
        from  <%= @pretty_month_start %> to <%= @pretty_month_end %></h2>

        <%= pie_chart BikeTrip.group(:trip_route_category).where(start_station_id: @pie_variable,start_time: @month_start..@month_end).count,
         colors: ["#86b300", "#2d00b3"],
        library: {backgroundColor: "#eee"} %>
      </div>

      <div class="lineChart">
        <h2>Types of Passholders Using
        <br>
        Primary Station
        <br>
        from  <%= @pretty_month_start %> to <%= @pretty_month_end %></h2>
        <%= pie_chart BikeTrip.group(:passholder_type).where(start_station_id: @pie_variable).count,
        colors: ["#2d00b3", "#86b300", "#b30086"],
        library: {backgroundColor: "#eee"} %>
      </div>
        <h2> Trips started at station by month
        <br>
        from  <%= @pretty_month_start %> to <%= @pretty_month_end %></h2>



        <div class="lineChart">
          <%= line_chart @station_variables,
            colors: ["#86b300", "#b30086", "#2d00b3", "#0086b3", "#e6ad00"],
            library: {backgroundColor: "#eee"} %>
        </div>
        <h2> Trips started at station by day
        <br>
        from  <%= @pretty_month_start %> to <%= @pretty_month_end %></h2>


        <div class="lineChart">
          <%= line_chart @station_variables_daily,
            colors: ["#86b300", "#b30086", "#2d00b3", "#0086b3", "#e6ad00"],
            library: {backgroundColor: "#eee"} %>
        </div>

        <h2> Trips started at station by day of week
        <br>
        from  <%= @pretty_month_start %> to <%= @pretty_month_end %></h2>

          <div class="lineChart">
          <%= column_chart @station_variables_weekday,
            colors: ["#86b300", "#b30086", "#2d00b3", "#0086b3", "#e6ad00"],
            library: {backgroundColor: "#eee"} %>
        </div>



      </div>
      <div class="content rightForm">
        <%= render 'months' %>
        <br>
      </div>
</div>
