<h1><%= @kiosk["name"] %></h1>

 <b>Name:</b> <%= @kiosk["name"] %>
  <b>Address:</b> <%= @kiosk["addressStreet"] %>, Philadelphia, PA  <%= @kiosk["addressZipCode"] %>
  <b>Kiosk ID:</b> <%= @kiosk["kioskId"] %>
  <b>Total Docks:</b> <%= @kiosk["totalDocks"] %>
  <b>Bikes Currently Available:</b> <%= @kiosk["bikesAvailable"] %>
  <b>Docks Currently Available:</b> <%= @kiosk["docksAvailable"] %>

<p>



<%= render 'months' %>

Data for <%= @month_start %> to <%= @month_end %>


<p>
  <div>
    <h3>Types of Trips To and From Welcome Park</h3>
    <%= pie_chart BikeTrip.group(:trip_route_category).where(start_station_id: 3005,start_time: @month_start..@month_end).count %>
  </div>

    <div>
    <h3>Types of Passholders Using Welcome Park</h3>
    <%= pie_chart BikeTrip.group(:passholder_type).where(start_station_id: 3005).count %>
  </div>


<h3> Daily visits to Welcome Park</h3>

<%= line_chart BikeTrip.group_by_day(:start_time, format: "%a %B %d, %y").where(start_station_id: 3005, start_time: @month_start..@month_end).count %>


<h3> Monthly visits as compared to highest and lowest performing kiosks</h3>

<%= line_chart [
  {name: @kiosk["name"], data: BikeTrip.group_by_month(:start_time).where(start_station_id: 3005, start_time: @month_start..@month_end).count},
  {name: "Rittenhouse Square", data: BikeTrip.group_by_month(:start_time).where(start_station_id: 3023, start_time: @month_start..@month_end).count},
  {name: "John F. Street Community Center", data: BikeTrip.group_by_month(:start_time).where(start_station_id: 3016, start_time: @month_start..@month_end).count}
] %>
