<!DOCTYPE html>
<html>
<head>
  <title>Indego Databook BETA</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
<% stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Josefin+Sans:600'%>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Titillium+Web'%>
  <%= csrf_meta_tags %>
</head>
<body data-no-turbolink>

  <header class="mainHeader">

    <span class="mainLogo">Indedata</span>
    <div class="linkMenu">

        <span class="topLink"><%= link_to 'Home', root_url %></span>

        <span class="topLink"><a href="/homes/show/">Data</a></span>

      </div>

    <ul class="linkMenuBurger">
      <li>
        <%= link_to 'Home', root_url %>
      </li>
      <li>
        <span class="topLink"><a href="/homes/show/">Data</a></span>
      </li>
      <li>
        <%= link_to 'Contact', root_url %>
      </li>
    </ul>

  </header>


  <%= yield %>




</body>
</html>
